
/* demo links */

body {
	margin:0;
	padding:0;
	background-color:#fff;
	font-family:"Anonymous Pro", helvetica neue;
	text-align:center;
}

h1, button, footer {
	font-family:"Anonymous Pro", helvetica neue;
	font-weight:100;
	color:#333;
	text-align:center;
	margin:35px auto;
}

h1 {
	margin:12px auto;
	font-size:10pt;
	letter-spacing:1px;
}

button {
	border:solid 2px #19d;
	padding:8px 32px;
	background-color:#fff;
	color:#19d;
	font-size:16pt;
	cursor:pointer;
	width:180px;
	text-align:center;
    -webkit-transition: border .2s;
    transition: border .2s;
}
button:hover {
	border:solid 2px #fff;
}
button:active {
	background-color:#19d;
	color:#fff;
}

footer {
	margin:50px auto;
	font-size:11pt;
	width:100%;
}



/* start page */

#shell {
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
}

.guides {
	margin:0 auto;
	height:400px;
	width:400px;
	position:relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.bguide, .sguide {
	position:absolute;
	background-color:white;
	color:#19d;
	text-align:center;
	padding:80px 40px;
	box-sizing:border-box;
	top:-65px;
	height:100%;
	width:100%;
	font-size:16pt;
	opacity:1;
	border:dashed 4px #19d;
}

.sguide {
	background-color:#333;
}

#sgarrow {
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
     -webkit-transition: transform .5s;
    transition: all .5s;
    font-size:100px;
}


/* progress bar */

#nprogress {
	position:absolute;
	top:0px;
}

#nprogress .bar {
	background:white !important;
	height:3px !important;
	opacity:1;
	transition: transform 2s ease !important;
  	-webkit-transition: -webkit-transform 2s ease !important;
} 
#nprogress .peg {
	box-shadow:none !important;
	transition: transform 2s ease !important;
  	-webkit-transition: -webkit-transform 2s ease !important;
} 

#nprogress .spinner-icon {
  	border-top-color: #fff !important;
  	border-left-color: #fff !important;
}

/* splash */

#splash {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	background-color:#19d;
	color:#fff;
	font:300 100px 'Quicksand';
	z-index:10;
	text-align:center;
	display:table;
}

#splash span {
	display: table-cell;
  	vertical-align: middle;
}

/* lc playlist and poem vis */

#main {
	margin:0 auto;
	width:500px;
	height:350px;
	border:solid 2px #555;
	padding:5px 0px 0px;
	position:relative;
	overflow:hidden;
}

#playlist {
	width:100%;
	height:313px;
	overflow:scroll;
}

.playlist {
	font-weight:light;
	width:100%;
	height:auto;
}

.playlist > .item {
	/*background-color:#eee; */
	border-bottom:solid 0px #ddd;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}

.playlist > .item > .text {
	user-select:text !important;
	-moz-user-select:text !important;
	-webkit-user-select:text !important;
	text-align:left;
	box-sizing:border-box;
	cursor:text;
	position:relative;
	z-index:2;
	font-family:"Anonymous Pro", helvetica neue;
	outline:none;
	border:none;
	font-size:12pt;
	color:black;
	width:100%;
	background-color:transparent;
}
.playlist > .item > .text:focus {
	background-color:#eee;
}

.playlist > .item > .text::selection {
  background: #1bd; /* WebKit/Blink Browsers */
  color: #fff; /* WebKit/Blink Browsers */
  padding:3px;
}
.playlist > .item > .text::-moz-selection {
  background: #bbb; /* WebKit/Blink Browsers */
}


.playlist > .item > .text, .playlist > .item > .close {

	font-size:11pt;
	line-height:1em;
	padding:4px 10px;


}

.playlist > .item > .beatvis {
	background-color:#0bd;
	cursor:pointer;
	width:12px;
	height:12px;
	position:absolute;
	top:5px;
	right:40px;
	z-index:0;
	border-radius:6px;
	-webkit-border-radius:6px;
	opacity:0;
}

.playlist > .item > .close {
	cursor:pointer;
	height:100%;
	position:absolute;
	color:#000;
	top:0px;
	right:0px;
	z-index:2;
	background-color:#fff;
	text-align:center;
	width:30px;
	box-sizing: border-box;
	-webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.playlist > .newmedia {
	background-color: #eee;
}

/* poemvis */

#poemvis {
	margin:20px 0px;
	font-family:helvetica neue;
	font-weight:light;
	border:solid 1px black;
	width:400px;
	height:200px;
	padding:10px;
	box-sizing:border-box;
}

.poemvis-fragment {
	padding:0px 3px;
	line-height:1.3em;
	opacity:0.5;
}

.terminal-output {
	display:none;
}

