
body {
	margin:0px;
	padding:20px;
	font-family: gill sans, serif;
	height:600px;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	overflow:hidden;
	background-color:#000;
	cursor: pointer !important;
}

canvas {
	user-select:none !important;
	-moz-user-select:none !important;
	-webkit-user-select:none !important;
}

button {
	background-color:white;
	color:#333;
	font-family:courier;
	font-size:13pt;
	display:block;
	cursor:pointer;
}

button:hover {
	background-color:#acf;
}

.cleardiv {
	clear:both;
	width:0px;
	height:0px;
	border:solid 2px black;
}

#title {
	font-size:30pt;
	width:100%;
	text-align:center;
	color#333;
	margin-bottom:35px;
	
}

#room {
	width:400px;
	margin:0 auto;
	position:relative;
}

#paths {
	width:400px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
}

#users {
	width:400px;
	margin:0 auto;
	position:absolute;
	top:0px;
	left:0px;
}

#users_circle {
	 position:relative;
	 border:solid 3px #DDD;
	 border-radius:200px;
	 width:400px;
	 height:400px;
	 background-color:white;
	 top:0px;
	 left:0px;
}

.a_user {
	border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	background-color:#EEE;
	cursor:pointer;
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:80px;
	text-align:center;
	line-height:80px;
	border:solid 2px #DDD;
	color:#777;
}

.a_user:hover {
	background-color:#9cc;
}

#pulse {
	width:50px;
	height:50px;
	background-color:#9cc;
	margin:10px;
	float:left;
	opacity:0;
}

#controls {
	background-color:#ddd;
	width:250px;
	padding:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position:absolute;
	top:100px;
	left:100px;
	font-size:14pt;
}

#textcontrols {
	width:600px;
	margin:10px auto;
	padding:20px;
	background-color:#eee;
}

#textcontrols .prompt {
	font-size:15pt;
	margin-left:30px;
	color:#333;
}

#nameinput {
	font-size:15pt;
	font-family:gill sans;
	color:#333;
	outline:none;
	width:180px;
	padding:5px;
}

#nameinput:focus {
	border:solid 2px black;	
}

#daisyeditor {
	font-family:gill sans;
	color:#333;
	outline:none;
	font-size:20pt;
	width:500px;
	margin:10px auto;
	padding:5px 10px;
	display:block;
	border:solid 2px #bbb;
}

#daisyeditor:focus {
	border:solid 2px #777;	
	background-color:#f7f7f7;
}

/* welcome screen */


#welcome {
	height:1000px;
	width:100%;
	background-color:white;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	background-image:url(../images/daisy_rainbow.png);
}

#welcometitle {
	margin:50px auto;
	width:500px;
	font-size:40pt;
	text-align:center;
	background-color:white;
	opacity:0.8;
}

#welcomenote {
	margin:50px auto 10px;
	width:500px;
	font-size:18pt;
	text-align:center;
	background-color:white;
	opacity:0.8;
}

#welcome input {
	display:block;
	border:solid 2px #ccc;
	font-size:18pt;
	color:#777;
	width:300px;
	margin:0px auto;
}


/* axes */

	.ctrlpanel {
				position:relative;
				margin:10px auto;
				height:600px;
				width:900px;
			}
			
			.ctrlnumy, .ctrlnumx {
				font-size:25pt;
				width:50%;
				text-align:center;
				float:left;
			}
			
			.axis {
				position:absolute;
				font-size:30pt;
				width:12%;
				color:#CCC;
				text-align:center;
			}
			
			#xaxis1 {
				top:45%;
				left:10%;
			}
			
			#xaxis2 {
				top:45%;
				right:10%;
			}
			
			#yaxis1 {
				top:4%;
				left:45%;
			}
			
			#yaxis2 {
				top:85%;
				left:45%;
			}
			


